//colors
$color-black: #000;
$color-grey: #3d3d3d ;
$color-light-grey:#bdbcbc;
$color-white:#fff; 
$color-red:#b40000;
$color-green: #71a371;
$color-orange: #e96b11;

//fonts
$default-font-size: 1rem;

//box-shadow

// border-radius

$border-radius-1: 1rem;
$border-radius-2: 2rem;
$border-radius-50: 50%;
$border-radius-text: 0 0 1rem 1rem;